# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies

node_modules/

# Expo

.expo/
dist/
web-build/
expo-env.d.ts

# Native

.kotlin/
_.orig._
_.jks
_.p8
_.p12
_.key
*.mobileprovision

# Metro

.metro-health-check*

# debug logs

npm-debug._
yarn-debug._
yarn-error.*
*.log

# macOS

.DS_Store
*.pem

# local env files

.env
.env.*
!.env.example

# TypeScript

*.tsbuildinfo

# generated/sample directories

/app-example/

# generated native folders

/android/
/ios/

# Amplify generated/local files

.amplify/

# amplify_outputs.json

amplifyconfiguration*
